[project]
	description = testing functionality
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ksana (ksana)
[access "refs/for/refs/*"]
	read = group user/Ksana (ksana)
	push = group user/Ksana (ksana)
	label-Code-Review = -2..+2 group user/Ksana (ksana)
	label-Verified = -1..+1 group user/Ksana (ksana)
	rebase = group user/Ksana (ksana)
	removeReviewer = group user/Ksana (ksana)
	submit = group user/Ksana (ksana)
[access "refs/heads/*"]
	read = group user/Ksana (ksana)
	create = group user/Ksana (ksana)
	push = +force group user/Ksana (ksana)
	pushMerge = group user/Ksana (ksana)
[access "refs/tags/*"]
	push = +force group user/Ksana (ksana)
	pushTag = group user/Ksana (ksana)
	pushSignedTag = group user/Ksana (ksana)
